<div class="container"> 
  
  <div class="row">
      <div class="col-sm-6">
          <img class="rounded-circle displayed" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
             <h2 class="textcenter" style="color: red"><b>Team 1</b></h2>
      </div> 
      <div class="col-sm-6">
          <img class="rounded-circle displayed" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
         <h2  class="textcenter" style="color: red"><b>Team 2</b></h2> 
      </div>
</div>
<div class="row">
    <div class="col sm-4"></div>
<div class="col-sm-4 middle">

    <div class="btn-group dropup">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
        </button>
        <div class="dropdown-menu dropdown-danger">
            <a class="dropdown-item" href="#">Waiting</a>
            <a class="dropdown-item" href="#">Getting ready</a>
            <a class="dropdown-item" href="#">Steady</a>
            <a class="dropdown-item" href="#">In game</a>
            <a class="dropdown-item" href="#">Completed</a>
            <a class="dropdown-item" href="#">Validated</a>
            <a class="dropdown-item" href="#">Done</a>
        </div>
      </div>
  </div>
  <div class="col sm-4"></div>

    </div>
 </div>
