<div class="container">
    <div class="row">
            
            <div class="col-sm-8">
                <div class="middle">
                <img class="rounded-circle displayed middle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
                   <h2 class="textcenter" style="color: red; margin-top: 50px;"><b>&nbsp;&nbsp;&nbsp;Team 1</b></h2>
                   <h1  class="textcenter" style="color: red; margin-left: -30px; margin-top: 50px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;Score</b></h1> 

            </div> 
        </div>            
                    <div class="middle">
                <img class="rounded-circle displayed" style="margin-left: 80px;"src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
               <h2  class="textcenter" style="color: red; margin-left: 70px; margin-top: 50px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;Team 2</b></h2> 
               <h1  class="textcenter" style="color: red; margin-left: 50px; margin-top: 50px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;Score</b></h1> 

              </div>
        </div>

</div>

