<div class="container">
    <div class="row">
            
            <div class="col-lg-4">
                <div class="middle">
                <img class="rounded-circle displayed middle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
                   <h2 class="textcenter" style="color: red"><b>&nbsp;&nbsp;&nbsp;Team 1</b></h2>
            </div> 
        </div>
            <div class="col-lg-4 ">
                <h2 class="textcenter" style="color: red"><b>&nbsp;&nbsp;&nbsp;Team 1</b></h2>

                    </div>
                    <div class="middle">
                <img class="rounded-circle displayed" style="margin-left: 90px;"src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
               <h2  class="textcenter" style="color: red; margin-left: 90px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;Team 2</b></h2> 
            </div>
        </div>

</div>

