

.middle-fix {
  
    margin-top: 200px;
    margin-left: 400px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: transparent;

}

.transparent-cla {

    background-color: transparent;


}

