
   
        <div class="col-sm-5">
		<div class="card middle-fix">
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control transparent-cla" placeholder="username">	
					    </div>
					    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control transparent-cla" placeholder="password">
					    </div>
					    <div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>	
        </div>
    </div>
</div>


