<div class="outer">
  <div class="middle">
      <div class="inner">
          <div style="vertical-align: middle;">


            <div class="stage animated jello infinite" style="width: 400px; height: 400px; margin: auto;">
                  <div class="cubespinner">
                      <div class="face1">5</div>
                      <div class="face2">4</div>
                      <div class="face3">3</div>
                      <div class="face4">2</div>
                      <div class=" face5">1</div>
                      <div class=" face6">GO!</div>
                  </div>

              </div>
          </div>
      </div>
    </div>
